<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eriz.sys.dao.MenuDao">
    <select id="findListByUserId" resultType="com.eriz.sys.domain.MenuDO">
      select distinct
		  m.id , parentId, name, url, perms,`type`,icon,orderNum,gmtCreate, gmtModified
		from sys_menu m
		left join sys_role_menu rm on m.id = rm.menuId
		left join sys_user_role ur on rm.roleId =ur.roleId
		where
		  ur.userId = #{id}
		  and m.type in(0,1)
		  and m.delFlag = 0
		order by m.orderNum asc
    </select>

	<select id="menuTree" resultType="map">
		SELECT
			menu.id AS "id",
			menu.name AS "name",
			menu.parentId AS "pId",
			menu.icon AS "img"
		FROM
			sys_menu menu
			where menu.delFlag = 0 ORDER BY menu.id
	</select>

	<select id="menuTreeRid" resultType="map">
		SELECT menu.id as "id",menu.parentId as "pId",menu.name as "name",
		rm.checkstate as "checked",menu.icon as "img"
		FROM sys_menu menu LEFT JOIN (
		SELECT DISTINCT rmenu.menuId, 'true' AS 'checkstate'
		FROM sys_role_menu rmenu
		<where>
			<if test="keyValue != '' and keyValue!= null">
				rmenu.roleId = #{keyValue}
			</if>
		</where>) rm ON menu.id = rm.menuId
		where menu.delFlag = 0
		ORDER BY menu.parentId
	</select>
	
	<select id="findPermByUserId" resultType="string">
		select distinct menu.perms
		from sys_menu menu left join sys_role_menu rmenu on menu.id = rmenu.menuId
		left join sys_user_role urole on rmenu.roleId = urole.roleId
		where menu.delFlag = 0 and urole.userId = #{id}
	</select>
</mapper>