<head th:fragment="header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<!-- css -->
	<link rel="stylesheet" href="/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="/css/style.css" media="all">
	<link rel="stylesheet" href="/css/bootstrap.min.css" media="all">
</head>
<div th:fragment="footer">
	<!-- js -->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.jdirk.min.js"></script>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/valida/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/eriz/common/core.js"></script>
</div>
