<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="container" style="width: 100%;">
	<form class="layui-form" id="signupForm">
		<input id="${pk.columnName}" name="${pk.columnName}" th:value="${${classname}.${pk.columnName}}" type="hidden">
		#if(${hasVersion})
		<input id="version" name="version" th:value="${${classname}.version}"  type="hidden">
		#end
		#foreach($column in $columns)
		#if($column.columnName != $pk.columnName)
		<div class="layui-form-item">
		<label class="layui-form-label">${column.comments}：</label>
		<div class="layui-input-block">
		#if($column.dataType == 'datetime')
		<input id="${column.attrname}" name="${column.attrname}" th:value="${${classname}.${column.attrname}} eq null ? '' : ${#dates.format(${classname}.${column.attrname}, 'yyyy-MM-dd HH:mm:ss')}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="layui-input" type="text">
		#elseif($column.dataType.contains('text'))
		<textarea id="${column.attrname}" name="${column.attrname}" th:text="${${classname}.${column.attrname}}" class="layui-input" rows="5"></textarea>
		#else
		<input id="${column.attrname}" name="${column.attrname}" th:value="${${classname}.${column.attrname}}" class="layui-input" type="text">
		#end
		</div>
		</div>
		#end
		#end
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button type="submit" class="layui-btn">提交</button>
			</div>
		</div>
	</form>
</div>
<div th:include="include::footer"></div>
#if(${hasDatetime})	
	<script src="//s.xlongwei.com/res/js/My97DatePicker/WdatePicker.js"></script>
#end	
	<script type="text/javascript" src="/js/eriz/${pathName}/${classname}/edit.js">
	</script>
</body>
</html>
