<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="body-page">
<div class="layui-container" style="width: 100%;">
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-md8">
            <form id="searchForm" class="form-line">
                <div class="input-group pull-left col-md-7">
                    <div class="input-group-addon ui-filter-text">
                        <a href="#" style="text-decoration:none">更多条件 <i class="layui-icon layui-icon-more" aria-hidden="true"></i></a>
                    </div>
                    <input id="name" type="text" class="layui-input" placeholder="名称"/>
                </div>
                <div class="layui-btn-group" style="margin-left:10px">
                    <a id="btn-search" class="layui-btn layui-btn-primary" data-type="reload"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    <a id="btn-resets" class="layui-btn layui-btn-primary"><i class="fa fa-eraser"></i>&nbsp;重置</a>
                </div>
                <div class="ui-filter-list" style="padding-top:13px;display:none">
                    <table class="form">
                        <tr>
                            <td><label>condition</label></td>
                            <td>
                                <input id="condition" type="text" class="form-control" style="margin-left: 10px"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <div class="layui-col-xs6 layui-col-md4">
            <div class="layui-btn-group">
                <button shiro:hasPermission="${pathName}:${classname}:add" type="button" class="layui-btn" onclick="add()">添加
                </button>
                <button shiro:hasPermission="${pathName}:${classname}:batchRemove" type="button" class="layui-btn" onclick="batchRemove()">批量删除
                </button>
                <button id="btn-refresh" onclick="reload()" class="layui-btn">刷新</button>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <table class="layui-hide" id="table-data" lay-filter="test"></table>
    </div>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!--shiro控制bootstraptable行内按钮看见性 -->
	<div>
		<script type="text/javascript">
			var s_edit_h = 'hidden';
			var s_remove_h = 'hidden';
			var s_resetPwd_h = 'hidden';
		</script>
	</div>
	<div shiro:hasPermission="${pathName}:${classname}:edit">
		<script type="text/javascript">
			s_edit_h = '';
		</script>
	</div>
	<div shiro:hasPermission="${pathName}:${classname}:remove">
		<script type="text/javascript">
			var s_remove_h = '';
		</script>
	</div>
	<div shiro:hasPermission="${pathName}:${classname}:resetPwd">
		<script type="text/javascript">
			var s_resetPwd_h = '';
		</script>
	</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/eriz/${pathName}/${classname}/${classname}.js"></script>
</body>
</html>