package ${package}.service;

import ${package}.${module}.domain.${className}DO;
import com.eriz.common.base.CoreService;

/**
 * 
 * <pre>
 * ${comments}service
 * </pre>
 * <small> ${datetime} | ${author}</small>
 */
public interface ${className}Service extends CoreService<${className}DO> {
    
}
