package ${package}.service.impl;

import org.springframework.stereotype.Service;

import ${package}.${module}.dao.${className}Dao;
import ${package}.${module}.domain.${className}DO;
import ${package}.${module}.service.${className}Service;
import com.eriz.common.base.CoreServiceImpl;

/**
 * 
 * <pre>
 * ${comments} impl
 * </pre>
 * <small> ${datetime} | ${author}</small>
 */
@Service
public class ${className}ServiceImpl extends CoreServiceImpl<${className}Dao, ${className}DO> implements ${className}Service {

}
